@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fontello.css");
@import url(./reset.css);

body *, 
body *::before,
body *::after {
    box-sizing: border-box;
}
/* 링크 스타일 */
a {
    text-decoration: none;
    color: inherit;
}
/* 루트 요소 */
html {
    font-size: 10px;
}
/* 본문 */
body {
    background-color: #ccc;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}
/* 레이아웃 공통 */
.header, .visual, .main, .slogan, .footer-inner {
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    padding: 0 30px 50px;
    position: relative;
}

/* 로고 */
.logo {
    position: absolute;
    top: 50px;
    left: 65px;
}
/* 회원 서비스 */
.member{
    position: relative;
    right: -10px;
    text-align: right;
    padding: 2px 0;
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; */
}
.member li {
    display: inline-block;
}
.member a {
    display: inline-block;
    padding: 8px 10px;
    text-transform: uppercase;
}
/* 내비게이션 */
.navigation {
    background-color: orange;
    border-top: 2px solid #000;
    height: 50px;
}
/* 비주얼 */
.visual {
    background-color: lime;
}
/* 메인 콘텐츠 */
.main {
    background-color: #fff;
    border-radius: 15px 15px 0 0 ;
    /* padding : 30px 0px; */
    min-height: 450px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding : 30px 15px;
    /* padding: 30px; */
    /* overflow: hidden; BFC */
}
/* .clearfix {
    clear: both; 
} */

/* .main::after {
    display: block;
    content: "";
    clear: both;
} */ 
/* block 일때만 존재 both : float left right 둘 다 */
.group {
    float: left;
    margin: 0 15px; 
    height: 450px;
}

.group1 {
    width: 250px;
}
.group2 {
    width: 380px;
}
.group3 {
    width: 190px;
}
/* 슬로건 */
.slogan {
    background-color: skyblue;
}
/* 푸터 */
.footer {
    background-color: purple;
}
.footer-inner {
    background-color: orange;
}